doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Lista de Médicos
    link(rel="stylesheet", href="/css/VistaMedico.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
    script(src="/js/DataTableMedico.js")
    script(src="/js/Medico.js")

  body
    .container
      include includes/tablaMedico.pug
      include includes/modalMedico.pug
      include includes/formMedico.pug
      
      
      +tablaMedicos(medicos)
      +modalMedico()