doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title HIS
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css")
    link(rel="stylesheet", href="/css/nav.css")
    block head

  body
    .container-layout
      div.sidebar
        div.logo
          img(src="/img/new-logo.png", alt="logo")
          span.nombre-hospital Hospital San Vital

        ul.nav-menu
          li
            a(href="/", class="nav-item")
              img(src="/img/icon-home.png", alt="inicio")
              | Inicio

          //- ================= ADMIN =================
          if userRole === "Admin"
            li.section-title PERSONAL
            li
              a(href="/usuarios/recepcionistas", class="nav-item")
                img(src="/img/icon-medico.png", alt="recep")
                | Gestionar Recepción
            li
              a(href="/medicos/GestionMedico", class="nav-item")
                img(src="/img/icon-medico.png", alt="medico")
                | Gestionar Médicos
            li
              a(href="/enfermeros/GestionEnfermero", class="nav-item")
                img(src="/img/icon-medico.png", alt="enfermero")
                | Gestionar Enfermeros
            li.section-title PACIENTES
            li
              a(href="/pacientes/GestionPaciente/", class="nav-item")
                img(src="/img/icon-paciente.png", alt="paciente")
                | Gestionar Pacientes

          //- ================= RECEPCIONISTA =================
          else if userRole === "Recepcionista"
            li.section-title GESTIÓN
            li
              a(href="/pacientes/GestionPaciente/", class="nav-item")
                img(src="/img/icon-paciente.png", alt="paciente")
                | Pacientes
            
            li.section-title ADMISIONES
            li
              a(href="/pacientes/RegistrarAdmision", class="nav-item")
                img(src="/img/icon-admision.png", alt="admision")
                | Nueva Admisión
            li
              a(href="/pacientes/internacion-emergencia", class="nav-item")
                img(src="/img/icon-emergencia.png", alt="emergencia")
                | Ingreso Emergencia

            li.section-title INTERNACIÓN
            li
              a(href="/admisiones/InternacionPaciente", class="nav-item")
                img(src="/img/icon-habitacion.png", alt="camas")
                | Asignar Camas
            li
              a(href="/asignaciones/GestionInternacion", class="nav-item")
                img(src="/img/icon-pacienteInternado.png", alt="internados")
                | Pacientes Internados

          //- ================= MÉDICO =================
          else if userRole === "Medico"
            li.section-title PACIENTES
            li
              a(href="/pacientes/GestionPaciente/", class="nav-item")
                img(src="/img/icon-paciente.png", alt="paciente")
                | Pacientes en general

            li.section-title EVALUACIONES
            li
              a(href="/evaluaciones/pacientes", class="nav-item")
                img(src="/img/icon-evaluacion.png", alt="medica")
                | Evaluación médica

            li.section-title ALTA HOSPITALARIA
            li
              a(href="/evaluaciones/alta", class="nav-item")
                img(src="/img/icon-cancelar.png", alt="alta")
                | Registrar Alta

          //- ================= ENFERMERO =================
          else if userRole === "Enfermero"
            li.section-title PACIENTES
            li
              a(href="/enfermeria/pacientes/", class="nav-item")
                img(src="/img/icon-paciente.png", alt="paciente")
                | Pacientes internados

            li.section-title EVALUACIONES
            li
              a(href="/enfermeria/historia", class="nav-item")
                img(src="/img/icon-evaluacion.png", alt="enfermeria")
                | Evaluación Inicial
                
          //- ================= BOTÓN DE LOGOUT =================
          if userRole
            li
              a(href="/usuarios/logout/", class="nav-item")
                img(src="/img/icon-admision.png", alt="logout")
                | Cerrar sesión

      main.contenido-principal
        block content

    block scripts