doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title HIS
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap")
    link(rel="stylesheet", href="/css/nav.css")
    block head

  body
    .container-layout
      div.sidebar
        div.logo
          img(src="/img/new-logo.png", alt="logo")
          span.nombre-hospital Hospital San Vital

        ul.nav-menu
          li
            a(href="/", class="nav-item")
              img(src="/img/icon-home.png", alt="inicio")
              |  Inicio

          //- ================= ADMIN =================
          if userRole === "Admin"
            li.section-title PACIENTES
            li
              a(href="/pacientes/GestionPaciente/", class="nav-item")
                img(src="/img/icon-paciente.png", alt="paciente")
                |  Gestionar pacientes

            li.section-title PERSONAL DE SALUD
            li
              a(href="/medicos/GestionMedico", class="nav-item")
                img(src="/img/icon-medico.png", alt="medico")
                |  Gestionar Médicos
            li
              a(href="/enfermeros/crear", class="nav-item")
                img(src="/img/icon-medico.png", alt="enfermero")
                |  Gestionar Enfermeros
          //- ================= MÉDICO =================
          else if userRole === "Medico"
            li.section-title PACIENTES
            li
              a(href="/pacientes/GestionPaciente/", class="nav-item")
                img(src="/img/icon-paciente.png", alt="paciente")
                |  Mis Pacientes

            li.section-title EVALUACIONES
            li
              a(href="#", class="nav-item")
                img(src="/img/icon-evaluacion.png", alt="medica")
                |  Evaluación médica
            li
              a(href="#", class="nav-item")
                img(src="#", alt="consulta")
                |  Consultar por paciente

          //- ================= ENFERMERO =================
          else if userRole === "Enfermero"
            li.section-title PACIENTES
            li
              a(href="/pacientes/GestionPaciente/", class="nav-item")
                img(src="/img/icon-paciente.png", alt="paciente")
                |  Mis Pacientes

            li.section-title EVALUACIONES
            li
              a(href="#", class="nav-item")
                img(src="/img/icon-evaluacion.png", alt="enfermeria")
                |  Evaluación enfermería
            li
              a(href="#", class="nav-item")
                img(src="#", alt="signos")
                |  Signos vitales
          //- ================= BOTÓN DE LOGOUT =================
          if userRole
            li
              a(href="/usuarios/logout/", class="nav-item")
                img(src="/img/icon-admision.png", alt="logout")
                |  Cerrar sesión

      main.contenido-principal
        block content

    block scripts
