* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  background-color: #eeffff;
}

.sidebar {
  width: 16%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #28b3ca;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.logo img {
  width: 25%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-shrink: 0;
}

.nombre-hospital {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #000000;
  white-space: nowrap;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.section-title {
  font-size: 15px;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  color: #1951b1;
}

.nav-item {
  display: flex;
  align-items: center;
  font-weight: 550;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: rgb(39, 75, 153);
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.nav-item img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.nav-item:hover {
  background-color: #59c6d7;
}

.nav-menu li:last-child {
  margin-top: auto;
  padding-top: 10px;
}