body {
    background-color: #eaffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .separador {
    display: flex;
    height: 100vh;
  }
  
  .container {
    margin-left: 5%;
    width: 75%;
    height: 90%;
    margin-top: 2.5%;
    background-color: #8bd9e4;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container img {
    display: block;
    width: 125px;
    height: 125px;
    margin-left: 46%;
    margin-bottom: 2%;
  }
  
  .formulario {
    font-size: 18px;
  }
  
  .nombre-apellido {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .nombre-apellido div {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .nombre-apellido input {
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }
  
  .ordenamiento {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .ordenamiento div {
    display: flex;
    flex-direction: column;
  }
  
  .ordenamiento input,
  .ordenamiento select {
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }
  
  .container button {
    height: 45px;
    width: 260px;
    font-size: 20px;
    margin-left: 42%;
    display: block;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .container button:hover {
    background-color: #d6f5f9;
  }
  
.fieldset-contactos {
  border: 1px solid #bcecf2;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  background-color: #eaffff;
}

.legend-contacto {
  width: 100%;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

/* Botón + */
#btn-add-contacto {
  background-color: #28a745;
  color: white;
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
}

#btn-add-contacto:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Fila y Botón - */
.contacto-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.contacto-row input {
  flex: 1;
}

.btn-remove-contacto {
  background-color: #dc3545;
  color: white;
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  padding-bottom: 3px;
}