mixin modalMedico()
  #modal-editar.hidden
    .modal-contenido
      h2 Gestión de Médico
      form#form-medico(method="POST", action="#")
        input(type="hidden", name="_method", value="POST")
        input(type="hidden", name="id_medico", id="edit-id")

        fieldset#seccion-usuario(style="border: 1px solid #ccc; padding: 10px; margin-bottom: 15px; border-radius: 5px;")
          legend Datos de Acceso (Solo para nuevos)
          div
            label(for="nombre_usuario") Usuario:
            input(type="text", name="nombre_usuario", id="edit-usuario", placeholder="Ej: doc_perez")
          div
            label(for="email") Email:
            input(type="email", name="email", id="edit-email", placeholder="doctor@hospital.com")
          div
            label(for="password") Contraseña:
            input(type="password", name="password", id="edit-password")
      
        div
          label(for="edit-nombre") Nombre:
          input(type="text", name="nombre", id="edit-nombre", required)
        div
          label(for="edit-apellido") Apellido:
          input(type="text", name="apellido", id="edit-apellido", required)
        div
          label(for="edit-documento") Documento:
          input(type="text", name="documento", id="edit-documento", required)
        div
          label(for="edit-genero") Género:
          select(name="genero", id="edit-genero", required)
            option(disabled selected value="") -- Seleccione --
            option(value="Masculino") Masculino
            option(value="Femenino") Femenino
        div
          label(for="edit-matricula") Matrícula:
          input(type="text", name="matricula", id="edit-matricula", required)
        div
          label(for="edit-id_especialidad") Especialidad:
          select(name="id_especialidad", id="edit-id_especialidad", required)
            option(disabled selected value="") -- Seleccione --
            each esp in especialidades
              option(value=esp.id_especialidad)= esp.nombre
        div
          label(for="edit-id_guardia") Guardia:
          select(name="id_guardia", id="edit-id_guardia", required)
            option(disabled selected value="") -- Seleccione --
            each g in guardias
              option(value=g.id_guardia)= g.nombre
        div
          button(type="submit") Guardar Cambios
          button(type="button", id="cerrar-modal") Cancelar